
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks!</h1>
    <p>Your order was successfully placed at Jungle. Thanks for shopping.</p>
  </body>
</html>